@forward "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

// Then add additional custom code here
:root{
    --dark: #020101;
}
.dark {
    background-color: var(--dark);
}
%type-writer-style{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
%type-writer-style{
    position: relative;
    width: max-content;
    &:after, &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}