@forward "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

// Then add additional custom code here
:root{
    --dark: #020101;
}
.dark-background {
    background-color: var(--dark);
}
.lower-outline{
    padding-bottom: 0.7rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    &:after {
        content: "";
        margin: auto auto 0 auto;
        width: 25%;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bs-info);
    }

    &::before {
        content: "";
        margin: auto auto -3px auto;
        width: 4%;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bs-info);
    }
}
.top-spacing{
    margin-top: 8rem;
}
.vertical-spacing{
    margin-top: 8rem;
    margin-bottom: 8rem;
}
%type-writer-style{
    position: relative;
    width: max-content;
    &:after, &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}