@use "config" as *;


// Nav **************************************************************8
.navbar a{
  color: white;
  font-size: 0.8rem;
  &:hover{
    color: var(--bs-gray-600);
  }
  &:focus{
    color: var(--bs-gray-600);
  }
}
a.navbar-brand{
  h1{
      font-size: 33px;
  }
  transition: color 0.3s ease-in-out;
  &:hover{
    color: var(--bs-info);
    filter: drop-shadow(0 0 2em var(--bs-info));
  }
  &:focus{
    color: var(--bs-info);
  }
}
.bi-list{
  width: 35px;
  margin-bottom: 10px;
  stroke: white;
}
.bi-linkedin, .bi-github, .bi-youtube{
  fill: white;
  width: 1rem;
}

// Hero Section ***********************************************************************
// arrow in the dashboard button
.arrow-box{
  margin-left: 34%;
  width: 1.7rem;
}
#intro{
  z-index: 1;
  #intro-content{
    justify-content: space-evenly;
    height: 100%;
    div:nth-of-type(1){
      margin-bottom: 40px;
    }
    .first-typing{
      @extend %type-writer-style;
      &:before{
        transform-origin: right;
        animation: typewriter 1s steps(3) forwards 2s;
        background-color: var(--dark);
      }
      &:after{
        border-left: 0.06em solid var(--bs-danger);
        opacity: 0;
        animation: 
        blinker-movement 1s steps(3) forwards 2s,
        blinker 430ms linear alternate 8;
      }
    }
    .second-typing{
      @extend %type-writer-style;
      &:before{
        transform-origin: right;
        animation: typewriter 2s steps(10) forwards 3.5s;
        background-color: var(--dark);
      }
      &:after{
        border-left: 0.06em solid white;
        opacity: 0;
        animation: 
        blinker-movement 2s steps(10) forwards 3.5s,
        blinker 430ms linear infinite alternate 3s;
      }
    }
    @media (prefers-reduced-motion: no-preference) {
      .show-up{
        opacity: 0;
        animation: float-up 1s ease-out 5.5s forwards;
      }
    }
  }
// Hero Buttons
  .btn-danger{
    font-weight: bold;
    width: 50%;
    min-width: 156px;
    max-width: 159px;
    padding: 0.6rem;
    padding-right: 0;
    padding-left: 7px;
  }
}
#skill-list{
  height: 100%;
  justify-content: space-evenly;
  svg{
    flex-basis: 350px;
    // flex-basis max is 431px
    use {
      opacity: 0;
    }
    .appear{
      opacity: 1;
      transition: opacity 1s ease-out;
    }
  }
}
#hero-img{
  img{
    min-width: 350px;
  }
}
// Type-Writer Animation
@keyframes typewriter {
  to {
    transform: scaleX(0);
  }
}
@keyframes blinker {
  to {
    opacity: 1;
  }
}
@keyframes blinker-movement {
  to {
    translate: 100%;
  }
}
@keyframes float-up{
  from {
    translate: 0 -15px;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}
// SVG Animation
@keyframes fade-in {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in{
  0%{
    translate: -150%;
  }
  50%{
    translate: 180;
  }
  100%{
    translate: 0;
    opacity: 1;
  }
}
// SVG Animation in development for now

// About Section ##############################################################
#about{
  position: relative;
  z-index: 1;
}

// top-skills Section #################################################################
#top-skills{
  .skill-img{
    background-color: var(--bs-danger);
    img{
      position: relative;
      top: -1.5rem;
      right: 2rem;
      transition: translate 0.3s;
      &:hover{
        translate: 2rem 1.5rem;
      }
    }
  }
  h2{
    padding-bottom: 0.7rem;
    margin-bottom: 1rem;
    position: relative;
    &:after {
        content: "";
        margin-top: auto;
        width: 25%;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bs-info);
    }
    &::before {
        content: "";
        margin: auto auto -3px 10%;
        width: 4%;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bs-info);
    }
  }
  .skill-set{
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    transition: opacity 0.8s;
    opacity: 0;
    svg{
      width: 1.4em;
      height: 1.4em;
    }
    .svg-skill-increase{
      width: 2em;
    }
    div{
      padding: 10px;
      background-color: var(--bs-dark);
      border-radius: 3%;
      background-size: 400% 100%;
    }
    div:hover{
      background-image: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
      background-clip: text;
      color: transparent;
      animation: rainbow_animation 3s ease-in-out infinite;
    }
  }
  .viewable {
    opacity: 1;
  }
}

@keyframes slide-in {
  from  {
    translate: -50%;
  }
  to  {
    translate: 0;
    opacity: 1;
  }
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

// Portfolio Section #################################################################
#portfolio{
  min-height: 660px;
  .nav{
    --bs-nav-link-color: var(--bs-info);
  }
  .portfolio-content{
    .skeleton{
      border-radius: 1rem;
      animation: skeleton-loading 1s linear infinite alternate;
      opacity: .7;
      aspect-ratio: 16/9;
    }
    img{
      aspect-ratio: 16/9;
      width: 100%;
      border-radius: 1rem;
      object-fit: cover;
      object-position: top;
      transition: opacity .4s;
    }
    h3{
      margin-top: 1rem;
      font-size: calc(1rem + 20%);
      font-weight: bold;
    }
    p{
      font-size: calc(.7rem + 20%);
    }
    text-align: center;
    a{
      color: white;
      text-decoration: none;
      transition: color, opacity .3s;
    }
    a:hover{
      color: var(--bs-info);
      opacity: 0.8;
    }
    .change-view{
      display: none;
    }
  }
}

@keyframes skeleton-loading {
  from {
    background-color: hsl(200, 20%, 60%);
  }
  to {
    background-color: hsl(200, 20%, 95%);
  }
}

// Journey Section ############################################################
#journey{
  flex-wrap: wrap;
  img{
    width: 50%;
  }
  gap: 0;
  iframe{
    aspect-ratio: 16/9;
    width: 50%;
  }
  
}

// Price-plan Section ########################################################
#price-plan{
  h2{
    padding-bottom: 0.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    position: relative;
    text-align: center;
    &::before {
      content: "";
      margin: -7px auto auto auto;
      width: 9%;
      height: 5px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--bs-danger);
      opacity: .8;
    }
  }
  .cost{
    font-size: 3.5rem;
    font-weight: bold;
  }
  #pricing-scheme{
    svg {
        width: 1.2rem;
        height: 1.2rem;
      }
  }
  #contact-email{
    transition: opacity .3s;
  }
  .terms{
    svg{
      vertical-align: middle;
      width: 1.2rem; height: 1.2rem;
    }
  }
}

// Floating-svgs Section ##############################################################
#floating-svgs {
  text-align: center;
  padding: 8rem 0;
  svg {
    width: 50%;
  }
  @media (prefers-reduced-motion: no-preference) {
    #floating-ubuntu{
      translate: -150px -380px;
      scale: .80412;
      transform-origin: center;
      transform-box: fill-box;
      animation: rotate 4.5s linear infinite;
    }
    #floating-mongo{
      opacity: 0.2;
      animation: blinker 1s ease-in infinite alternate;
    }
    #floating-nodejs{
      animation: wiggle 2s linear infinite;
    }
    #shadow3{
      transform-origin: center;
      transform-box: fill-box;
      animation: shrink 2s linear infinite;
    }
    #floating-python{
      transform-origin: center bottom;
      transform-box: fill-box;
      animation: bounce 1s infinite;
    }
    #shadow4{
      transform: translate(-435px, -295px);
      transform-origin: left right center;
      animation: shrink 1s ease-out infinite
    }
    #git-float{
      transform-origin: center;
      transform-box: fill-box;
      translate: 2px -13px;
      animation: flip 4s ease-out infinite alternate;
    }
    // #floating-git{ you can uncomment and use this to animate only the git icon, if you are unsatisfied with animating git together with the shadow icon using git-float ID
    //   transform-origin: center;
    //   transform-box: fill-box;
    //   translate: -72.5px -5px;
    //   animation: flip 4s ease-out infinite alternate;
    // }
    #floating-javascript{
      transform-origin: center;
      transform-box: fill-box;
      animation: wiggle 2s linear infinite;
    }
    #shadow6{
      translate: -148.039px -318.759px;
      transform-origin: center;
      transform-box: fill-box;
      animation: shrink 2s linear infinite;
    }
    #floating-bootstrap{
      transform-origin: center;
      animation: float 1.5s linear infinite alternate,
      distort 1s ease-in-out infinite alternate;
    }
    #shadow7{
      transform-origin: center;
      transform-box: fill-box;
      translate: -106px -302px;
      animation: shrink 1s linear infinite alternate-reverse;
    }
    #Upper-coffee-smoke,
    #Lower-coffee-smoke{
      transform-origin: center;
      transform-box: fill-box;
      animation: flip 4s ease-out infinite alternate;
    }
    #floating-laptop{
      animation: float 1s linear  infinite alternate;
    }
    #shadow11{
      transform-origin: center;
      animation: shrink 1s linear infinite alternate;
    }
    #floating-react{
      transform-origin: center;
      transform-box: fill-box;
      translate: 10px 210px;
      // matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY())
      animation: rotate 4.5s linear infinite;
    }
  }
}


@keyframes rotate {
  to{
    rotate: 360deg;
  }
}

@keyframes wiggle {
  0%, 5% {
    rotate: 0;
  }
  15%  {
    rotate: -15deg;
  }
  20% {
    rotate: 10deg;  
  }
  25% {
    rotate: -10deg;
  }
  30% {
    rotate: 6deg;
  }
  35% {
    rotate: -4deg;
  }
  40%, 100%{
    rotate: 0;
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, to{
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: translateZ(0);
  }
  40%, 43%{
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70%{
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90%{
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes float {
  to {
    transform: translateY(10px);
  }
}

@keyframes shrink {
  from {
    scale: .9;
  }
  to {
    scale: 1.025;
  }
}

@keyframes distort {
  50% {
    transform: skewX(7deg);
  }
  100% {
    transform: skewX(-7deg);
  }
}

@keyframes flip {
  20%,
  80% {
    opacity: 0.2;
  }
  50% {
    transform: translateY(2px);
    transform: translate(-4px, 2px) rotateY(90deg);
  }
}

// RESPONSIVENESS ************************************************************************************
@media (max-width: 767px) {
  #intro{
    overflow-x: hidden;
  }
  #hero-img {
    position: absolute;
    top: 49px;
    right: 0;
    img {
      width: 260px;
      min-width: 0;
    }
  }
  #portfolio{
    position: relative;
    min-height: auto;
    nav{
      margin-bottom: 2.5rem;
    }
    .space-below{
      margin-bottom: 4rem;
    }
    .change-view{
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 105%;
      width: 70%;
      margin-left: 10%;
      align-items: center;
      cursor: pointer;
    }
    .expanded-view{
      top: 8.6rem;
      span{
        order: 2;
      }
      svg{
        rotate: 180deg;
      }
    }
    .portfolio-content{
      flex-wrap: nowrap;
      overflow-x: auto;
      scroll-snap-type: x proximity;
      overscroll-behavior: contain;
      // Hide scrollbar for Chrome, Safari, Edge and Opera
      &::-webkit-scrollbar{
        display: none;
      }
      // Hide scrollbar for Firefox
      scrollbar-width: none;
      // Done removing scrollbar
      .col{
        flex-basis: 30%;
        flex-grow: 0;
        scroll-snap-align: start;
      }
      .skeleton{
        aspect-ratio: 4/3;
      }
      img{
        aspect-ratio: 4/3;
      }
      h3{
        font-size: .875rem;
        // font-size: 1rem;
      }
      p{
        display: none;
        // font-size: .75rem;
      }
    }
  }
  #journey{
    img, iframe{
      width: 100%;
    }
  }
  #floating-svgs{
    svg{
      width: 80%;
    }
  }
}

