@use "config" as *;

:root{
  --svg-animation: ;
}

// Nav **************************************************************8
.navbar a{
  color: white;
  font-size: 0.8rem;
  &:hover{
    color: var(--bs-gray-600);
  }
}
a.navbar-brand{
  h1{
      font-size: 33px;
  }
  transition: color 0.3s ease-in-out;
  &:hover{
    color: var(--bs-info);
    filter: drop-shadow(0 0 2em var(--bs-info));
  }
}
.bi-list{
  width: 35px;
  margin-bottom: 10px;
  stroke: white;
}
.bi-linkedin, .bi-github, .bi-youtube{
  fill: white;
  width: 1rem;
}

// Hero Section ***********************************************************************
// arrow in the dashboard button
.arrow-box{
  margin-left: 34%;
  width: 1.7rem;
}
#intro{
  z-index: 1;
  #intro-content{
    justify-content: space-evenly;
    height: 100%;
    div:nth-of-type(1){
      margin-bottom: 40px;
    }
    .first-typing{
      @extend %type-writer-style;
      &:before{
        transform-origin: right;
        animation: typewriter 1s steps(3) forwards 2s;
        background-color: var(--dark);
      }
      &:after{
        border-left: 0.06em solid var(--bs-danger);
        opacity: 0;
        animation: 
        blinker-movement 1s steps(3) forwards 2s,
        blinker 430ms linear alternate 8;
      }
    }
    .second-typing{
      @extend %type-writer-style;
      &:before{
        transform-origin: right;
        animation: typewriter 2s steps(10) forwards 3.5s;
        background-color: var(--dark);
      }
      &:after{
        border-left: 0.06em solid white;
        opacity: 0;
        animation: 
        blinker-movement 2s steps(10) forwards 3.5s,
        blinker 430ms linear infinite alternate 3s;
      }
    }
    @media (prefers-reduced-motion: no-preference) {
      .show-up{
        opacity: 0;
        animation: float-up 1s ease-out 5.5s forwards;
      }
    }
  }
// Hero Buttons
  .btn-danger{
    font-weight: bold;
    width: 50%;
    min-width: 156px;
    max-width: 159px;
    padding: 0.6rem;
    padding-right: 0;
    padding-left: 7px;
  }
}
#skill-list{
  height: 100%;
  justify-content: space-evenly;
  svg{
    flex-basis: 350px;
    // flex-basis max is 431px
    use {
      opacity: 0;
      // animation: fade-in 3s ease-out infinite;
      // animation-play-state: paused;
    }
    // @media (prefers-reduced-motion: no-preference) {
    //   .plaused-animation{
    //     come back here when you want to try js triggered animation again
    //   }
    //   .play-animation{
    //     animation-play-state: running;
    //   }
    // }
    .appear{
      opacity: 1;
      transition: opacity 1s ease-out;
    }
  }
}
#banner-img{
  img{
    min-width: 350px;
  }
}
// Type-Writer Animation
@keyframes typewriter {
  to {
    transform: scaleX(0);
  }
}
@keyframes blinker {
  to {
    opacity: 1;
  }
}
@keyframes blinker-movement {
  to {
    translate: 100%;
  }
}
@keyframes float-up{
  from {
    translate: 0 -15px;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}
// SVG Animation
@keyframes fade-in {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in{
  0%{
    translate: -150%;
  }
  50%{
    translate: 180;
  }
  100%{
    translate: 0;
    opacity: 1;
  }
}
// SVG Animation in development for now

// About Section ##############################################################
#about{
  position: relative;
  z-index: 1;
}

// top-skills Section #################################################################
#top-skills{
  .skill-img{
    background-color: var(--bs-danger);
    img{
      position: relative;
      top: -1.5rem;
      right: 2rem;
      transition: translate 0.3s;
      &:hover{
        translate: 2rem 1.5rem;
      }
    }
  }
  h2{
    padding-bottom: 0.7rem;
    margin-bottom: 1rem;
    position: relative;
    &:after {
        content: "";
        margin-top: auto;
        width: 25%;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bs-info);
    }
    &::before {
        content: "";
        margin: auto auto -3px 10%;
        width: 4%;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bs-info);
    }
  }
  .skill-set{
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    transition: opacity 0.8s;
    opacity: 0;
    svg{
      width: 1.4em;
      height: 1.4em;
    }
    .svg-skill-increase{
      width: 2em;
    }
    div{
      padding: 10px;
      background-color: var(--bs-dark);
      border-radius: 3%;
    }
  }
  .viewable {
    opacity: 1;
  }
}

@keyframes slide-in {
  from  {
    translate: -50%;
  }
  to  {
    translate: 0;
    opacity: 1;
  }
}

// Journey Section ############################################################
#journey{
  flex-wrap: wrap;
  img{
    width: 50%;
  }
  gap: 0;
  iframe{
    aspect-ratio: 16/9;
    flex-grow: 1;
  }
  
}

// Price-plan Section ########################################################
#price-plan{
  h2{
    padding-bottom: 0.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    position: relative;
    text-align: center;
    &::before {
      content: "";
      margin: -7px auto auto auto;
      width: 9%;
      height: 5px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--bs-danger);
      opacity: .8;
    }
  }
  .price-icon{
    font-size: 3rem;
  }
  .price-icon-svg{
    width: 3rem;
    height: 3rem;
    margin: 0.8rem 0;
  }
  .cost{
    font-size: 3.5rem;
    font-weight: bold;
  }
  .terms{
    svg{
      vertical-align: middle;
      width: 1.2rem; height: 1.2rem;
    }
  }
}

// bottom-placeholder#############################################
#bottom-placeholder{
padding: 10rem 0;
}

// RESPONSIVENESS ************************************************************************************
@media (max-width: 767px) {
  #banner-img {
    position: absolute;
    top: 49px;
    right: 0;
    img {
      width: 260px;
      min-width: 0;
    }
  }
  #journey{
    img{
      width: 100%;
    }
  }
}


// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }